target/
.mvn/wrapper/maven-wrapper.jar
src/main/resources/ZRDDS故障排查指南.pdf
src/main/resources/ZRDDS用户手册.pdf
src/main/resources/javadoc
!**/src/main/**/target/
!**/src/test/**/target/
**/*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
